* {
  box-sizing: border-box;
}

:root {
  --primary: darkgray;
  --secondary: lightblue;
  --dark: black;
  --light: white;
}

body {
  background-color: var(--primary);
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--dark);
  line-height: 1.5;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--secondary);
}

header img {
  width: 10%;
  border-radius: 100px;
  box-shadow: 0 5px 35px var(--dark);
  margin: 20px;
}

header h1 {
  color: var(--light);
  margin: 0;
  font-size: 4vw;
  line-height: 1;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

nav a {
  padding: 5px 10px;
  text-decoration: none;
  font-size: 24px;
  margin-right: 10px;
  background-image: linear-gradient(270deg, var(--light) 0%, var(--light) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}

nav a:hover {
  background-color: var(--light);
  color: var(--secondary);
}

nav a:last-child {
  margin-right: 0;
}

.hero {
  display: flex;
  background-image: url(https://i.picsum.photos/id/866/536/354.jpg?hmac=tGofDTV7tl2rprappPzKFiZ9vDh5MKj39oa2D--gqhA);
  background-size: cover;
  background-position: center;
  min-height: 50vh;
  justify-content: flex-end;
  text-align: right;
  padding: 10px 10px;
}

.hero div {
  flex: 0 0 70%;
}

.hero h2 {
  display: inline;
  margin: 0;
  line-height: 1.5;
  background-color: var(--light);
  padding: 5px;
}

.wrapper {
  max-width: 88%;
  margin-left: auto;
  margin-right: auto;
}

.pageSection {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  margin: 25px 0;
  padding: 10px 0;
}

.pageSection h2 {
  flex: 0 0 20%;
  text-align: right;
  border-right: 4px solid var(--dark);
  font-size: 4vw;
  line-height: 1.1;
  padding-right: 20px;
}

.pageSection > div {
  flex: 0 0 77%;
}

.pageSection p {
  padding-top: 20px;
}

.work {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flexItem {
  display: flex;
  border: 5px solid var(--dark);
  background-color: var(--light);
  color: var(--primary);
  min-height: 150px;
  flex-basis: calc(50% - 1em);
  align-items: flex-end;
  padding: 0 0 20px 0;
  margin: 0.5em;
  text-decoration: none;
  background-size: 150%;
  transition: all 0.5s;
  font-size: 0.9rem;
}

.flexItem:first-child {
  min-height: 400px;
  flex-basis: 100%;
}

.flexItem:hover {
  border-color: var(--secondary);
}

.flexItem div {
  background-color: var(--secondary);
  padding: 8px 10px;
}

.flexItem h3 {
  font-size: 1.6rem;
}

.contact address {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: space-around;
}

.contact address a {
  display: inline-block;
  padding: 5px;
  text-decoration: none;
  background-image: linear-gradient(270deg, var(--light) 0%, var(--light) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
  color: var(--dark);
  font-size: 1.3rem;
  font-style: normal;
  margin: 0 0.2rem 0.1rem;
}

.contact address a:hover {
  background-color: var(--light);
  color: var(--dark);
  background-size: 100% 88%;
}

/* load images */
.refactor {
  background-image: url("../images/Horiseon-Img.png");
}

.led {
  background-image: url(https://m.media-amazon.com/images/I/51IDg9CpXNL._AC_.jpg);
}

.calculator {
  background-image: url(https://rockcontent.com/wp-content/uploads/2021/02/interactive-calculator.png);
}

.puzzles {
  background-image: url(https://reporternewspapers.net/wp-content/uploads/2021/07/pexels-photo-1586951.jpeg);
}

.buddy {
  background-image: url(https://getrunbuddy.app/wp-content/uploads/2019/05/RunBuddyLogo.png);
}

@media screen and (max-width: 768px) {
  header,
  main {
    flex-direction: column;
  }
}
