:root {
  --primary: #222823;
  --secondary: #629677;
  --light: #ffffff;
}

/* base styles */
* {
  margin: 0;
  font-family: "Roboto";
  color: var(--light);
  /* background-color: var(--primary); */
}

.content {
  padding: 20px;
  width: 100%;
  background-color: var(--primary);
}

/* navbar styles */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
}

/* .navbar h1 {
  color: #f1356d;
} */

.navbar .links {
  display: flex;
  gap: 10px;
  background-color: var(--secondary);
}

.navbar a {
  text-decoration: none;
}

.navbar .active {
  border-bottom: 5px solid #f1356d;
}

/* about styles */
.about{
  /* background-color: red; */
}

.about img {
  width: 25%;
  border-radius: 100px;
  margin: 20px;
}

/* contact form */
.contact {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.contact label {
  text-align: left;
  display: block;
}
.contact h2 {
  font-size: 20px;
  margin-bottom: 30px;
}
.contact input, .contact textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.contact button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.thank-you{
  background-color: lightgreen;
  padding: 10px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.portfolio a{
  text-decoration: none;
}

.portfolio img{
  width: 25%;
  /* border-radius: 100px; */
  margin: 20px;
}